<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <title>Forum | Home page</title>
    <div th:include="contentHead::contentHead" th:remove="tag"></div>
</head>
<body class="page-container-bg-solid">
<div class="page-wrapper">
    <div class="page-wrapper-row">
        <div class="page-wrapper-top" th:include="pageHead::pageHead"></div>
    </div>
    <div class="page-wrapper-row full-height">
        <div class="page-wrapper-middle" th:include="${pageBodyTemplate}::${pageBodyFragment}"></div>
    </div>
    <div class="page-wrapper-row">
        <div class="page-wrapper-bottom" th:include="pageFoot::pageFoot"></div>
    </div>
</div>
<div th:include="contentFoot::contentFoot" th:remove="tag"> </div>
</body>
</html>