<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <title>Forum | Login page</title>
    <link th:href="@{/main/css/login.css}" rel="stylesheet" type="text/css" />
<!-- END HEAD -->
</head>
<body class=" login"><div th:include="contentHead::contentHead"></div>
<!-- BEGIN : LOGIN PAGE 5-1 -->
<div class="user-login-5">
    <div class="row bs-reset">
        <div class="col-md-6 bs-reset mt-login-5-bsfix">
            <div class="login-bg" style="background-image:url(/global/plugins/pages/img/login/bg1.jpg)">
                <img class="login-logo" th:src="@{/global/plugins/pages/img/login/logo.png}" /> </div>
        </div>
        <div class="col-md-6 login-container bs-reset mt-login-5-bsfix">
            <div class="login-content">
                <h1>Forum Admin Login</h1>
                <form class="form-login">
                    <div class="alert alert-danger display-hide">
                        <button class="close" data-close="alert"></button>
                        <span>Enter any username and password. </span>
                    </div>
                    <div class="form-group form-md-line-input has-error">
                        <div class="input-icon">
                            <input type="text" name="loginName" class="form-control" placeholder="Please enter a username or email or phone number" required="required"/>
                            <div class="form-control-focus"> </div>
                            <span class="help-block">Username is required.</span>
                            <i class="fa fa-user"></i>
                        </div>
                    </div>
                    <div class="form-group form-md-line-input has-error">
                        <div class="input-icon">
                            <input type="password" name="loginPassword" class="form-control" placeholder="Please enter a password" required="required"/>
                            <div class="form-control-focus"> </div>
                            <span class="help-block">Password is required.</span>
                            <i class="fa fa-key"></i>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="md-checkbox md-checkbox-inline has-success">
                                <input type="checkbox" id="checkbox111" class="md-check"/>
                                <label for="checkbox111">
                                    <span></span>
                                    <span class="check"></span>
                                    <span class="box"></span> Remember me </label>
                            </div>
                        </div>
                        <div class="col-sm-8 text-right">
                            <button id="login-btn" class="btn btn-success" type="button">Sign In</button>
                            <div class="forgot-password">
                                <a href="javascript:;" id="forget-password" class="forget-password">Forgot Password?</a>
                            </div>
                            <!--<div class="forgot-password">
                                <a href="javascript:;" id="register-account" class="forget-password">I want to register</a>
                            </div>-->
                        </div>
                    </div>
                </form>
                <!-- BEGIN FORGOT PASSWORD FORM -->
                <form class="forget-form" method="post" style="display: none">
                    <h3 class="font-green">Forgot Password ?</h3>
                    <p></p>
                    <div class="form-group form-md-line-input has-error">
                        <div class="input-icon">
                            <input type="email" name="userEmail" class="form-control" placeholder="Please enter a email" required="required"/>
                            <div class="form-control-focus"> </div>
                            <span class="help-block">Email is required.</span>
                            <i class="fa fa-envelope-o"></i>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="button" id="back-btn" class="btn green btn-outline">Back</button>
                        <button type="submit" id="forget-btn" class="btn btn-success uppercase pull-right">Submit</button>
                    </div>
                </form>
                <!-- END FORGOT PASSWORD FORM -->
                <!-- BEGIN REGISTER FORM -->
                <form class="register-form" action="javascript:;" method="post" style="display: none">


                </form>
                <!-- END REGISTER FORM -->
            </div>
            <div class="login-footer">
                <div class="row bs-reset">
                    <div class="col-xs-5 bs-reset">
                        <ul class="login-social">
                            <li>
                                <a href="javascript:;">
                                    <i class="icon-social-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <i class="icon-social-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <i class="icon-social-dribbble"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-7 bs-reset">
                        <div class="login-copyright text-right">
                            <p>Copyright &copy; Forum 2017</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END : LOGIN PAGE 5-1 -->
<div th:include="contentFoot::contentFoot"></div>
<script th:src="@{/main/js/login.js}" type="text/javascript"></script>
<script th:inline="javascript" type="text/javascript">
    $(function () {
        LoginAccount.init();
    })
</script>
</body>
</html>