<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="contentFoot">
    <!--[if lt IE 9]>
    <script th:src="@{/global/plugins/pages/js/respond.min.js}" type="text/javascript" />
    <script th:src="@{/global/plugins/pages/js/excanvas.min.js}" type="text/javascript" />
    <script th:src="@{/global/plugins/pages/js/ie8.fix.min.js}" type="text/javascript" />
    <![endif]-->
    <!-- BEGIN CORE PLUGINS -->
    <script th:src="@{/global/js/jquery.min.js}" type="text/javascript" />
    <script th:src="@{/global/plugins/bootstrap/js/bootstrap.min.js}" type="text/javascript" />
    <script th:src="@{/global/plugins/pages/js/js.cookie.min.js}" type="text/javascript" />
    <script th:src="@{/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js}" type="text/javascript" />
    <script th:src="@{/global/plugins/pages/js/jquery.blockui.min.js}" type="text/javascript" />
    <script th:src="@{/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js}" type="text/javascript" />
    <!-- END CORE PLUGINS -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script th:src="@{/global/plugins/jquery-validation/js/jquery.validate.min.js}" type="text/javascript" />
    <script th:src="@{/global/plugins/jquery-validation/js/additional-methods.min.js}" type="text/javascript" />
    <script th:src="@{/global/plugins/select2/js/select2.full.min.js}" type="text/javascript" />
    <script th:src="@{/global/plugins/backstretch/jquery.backstretch.min.js}" type="text/javascript" />
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL SCRIPTS -->
    <script th:src="@{/global/js/app.min.js}" type="text/javascript" />
    <!-- END THEME GLOBAL SCRIPTS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script th:src="@{/global/plugins/pages/js/login/login-5.min.js}" type="text/javascript" />
    <!-- END PAGE LEVEL SCRIPTS -->
    <!-- BEGIN THEME LAYOUT SCRIPTS -->
    <!-- END THEME LAYOUT SCRIPTS -->
    <script type="text/javascript" th:src="@{/global/js/jquery.tips.js}"></script>
    <script type="text/javascript" th:src="@{/global/js/jquery.cookie.js}"></script>
    <script type="text/javascript" th:src="@{/global/js/jquery.form.js}"></script>
    <script type="text/javascript" th:src="@{/global/js/jquery.i18next.min.js}"></script>
    <script type="text/javascript" th:src="@{/global/js/jquery.serializejson.min.js}"></script>
    <script type="text/javascript" th:src="@{/global/js/rightbutton.js}"></script>
    <script type="text/javascript" th:src="@{/global/js/validate.js}"></script>
    <script type="text/javascript" th:src="@{/global/js/base64.js}"></script>
</body>
</html>