<div th:fragment="contentFoot">
<!--[if lt IE 9]>
<script th:src="@{/global/plugins/pages/js/respond.min.js}" type="text/javascript"></script>
<script th:src="@{/global/plugins/pages/js/excanvas.min.js}" type="text/javascript"></script>
<script th:src="@{/global/plugins/pages/js/ie8.fix.min.js}" type="text/javascript"></script>
<![endif]-->
<!-- BEGIN CORE PLUGINS -->
<script th:src="@{/global/js/jquery.min.js}" type="text/javascript"></script>
<script th:src="@{/global/plugins/bootstrap/js/bootstrap.min.js}" type="text/javascript"></script>
<script th:src="@{/global/plugins/pages/js/js.cookie.min.js}" type="text/javascript"></script>
<script th:src="@{/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js}" type="text/javascript"></script>
<script th:src="@{/global/plugins/pages/js/jquery.blockui.min.js}" type="text/javascript"></script>
<script th:src="@{/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js}" type="text/javascript"></script>
<script th:src="@{/global/plugins/bootbox/bootbox.min.js}" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script th:src="@{/global/plugins/jquery-validation/js/jquery.validate.min.js}" type="text/javascript"></script>
<script th:src="@{/global/plugins/jquery-validation/js/additional-methods.min.js}" type="text/javascript"></script>
<script th:src="@{/global/plugins/select2/js/select2.full.min.js}" type="text/javascript"></script>
<script th:src="@{/global/plugins/backstretch/jquery.backstretch.min.js}" type="text/javascript"></script>
<script th:src="@{/global/plugins/crypto-js/crypto-js.js}" type="text/javascript"></script>
<script th:src="@{/global/plugins/sweetalert/js/sweetalert.min.js}" type="text/javascript"></script>
<script th:src="@{/layer-v3.0.3/layer/layer.js}" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN THEME GLOBAL SCRIPTS -->
<script th:src="@{/global/js/app.min.js}" type="text/javascript"></script>
<script th:src="@{/global/js/base64.js}" type="text/javascript"></script>
<script th:src="@{/global/js/jquery.i18next.min.js}" type="text/javascript"></script>
<script th:src="@{/global/js/jquery.tips.js}" type="text/javascript"></script>
<script th:src="@{/global/js/jquery.form.js}" type="text/javascript"></script>
<!-- END THEME GLOBAL SCRIPTS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script th:src="@{/common/js/common.js}" type="text/javascript"></script>
<script th:src="@{/common/js/utils.js}" type="text/javascript"></script>
<script th:src="@{/global/plugins/layouts/layout3/scripts/layout.min.js}" type="text/javascript" ></script>
<script th:src="@{/global/plugins/layouts/layout3/scripts/demo.min.js}" type="text/javascript" ></script>
<script th:src="@{/global/plugins/layouts/js/quick-sidebar.min.js}" type="text/javascript" ></script>
<script th:src="@{/global/plugins/layouts/js/quick-nav.min.js}" type="text/javascript" ></script>
<!-- END PAGE LEVEL SCRIPTS -->
<!-- BEGIN THEME LAYOUT SCRIPTS -->
<!-- END THEME LAYOUT SCRIPTS -->
<script th:src="@{/main/js/pageHead.js}" type="text/javascript"></script>
</div>