<div th:fragment="contentHead">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link th:href="@{/global/plugins/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/global/plugins/simple-line-icons/simple-line-icons.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/global/plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css}" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link th:href="@{/global/plugins/select2/css/select2.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/global/plugins/select2/css/select2-bootstrap.min.css}" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link th:href="@{/global/css/components.min.css}" rel="stylesheet" id="style_components" type="text/css" />
    <link th:href="@{/global/css/plugins.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/global/css/components-rounded.min.css}" rel="stylesheet" type="text/css" />
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link th:href="@{/global/plugins/layouts/layout3/css/layout.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/global/plugins/layouts/layout3/css/themes/default.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/common/css/common.css}" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <!-- END THEME LAYOUT STYLES -->
    <link rel="shortcut icon" th:href="@{/global/plugins/font-awesome/favicon.ico}" />
</div>